@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap');


.pole1 {
    width: 400px;
    position: absolute;
    background: linear-gradient(#f5f8cdf3, #f5f8f5);
    margin-left: 386px;
    margin-top: -130px;
}

header .pole1b1 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .pole1b1:hover,
header .pole1b1.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}


header .pole1b2 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .pole1b2:hover,
header .pole1b2.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

header .pole1b3 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .pole1b3:hover,
header .pole1b3.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

header .pole1b4 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .pole1b4:hover,
header .pole1b4.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

.pole2 {
    width: 400px;
    position: absolute;
    background: linear-gradient(#f5f8cdf3, #b9f5b9);
    margin-left: 386px;
    margin-top: -130px;
}

header .pole2b1 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .pole2b1:hover,
header .pole2b1.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

header .pole2b2 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .pole2b2:hover,
header .pole2b2.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

header .pole2b3 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .pole2b3:hover,
header .pole2b3.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

header .pole2b4 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .pole2b4:hover,
header .pole2b4.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}


header .mb3 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .mb3:hover,
header .mb3.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

.pole3 {
    width: 400px;
    position: absolute;
    background: linear-gradient(#f5f8cdf3, #b9f5b9);
    margin-left: 386px;
    margin-top: -130px;
}

header .pole3b1 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .pole3b1:hover,
header .pole3b1.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

header .pole3b2 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .pole3b2:hover,
header .pole3b2.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

header .pole3b3 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .pole3b3:hover,
header .pole3b3.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

header .pole3b4 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .pole3b4:hover,
header .pole3b4.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

header .mb4 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .mb4:hover,
header .mb4.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

.pole4 {
    width: 400px;
    position: absolute;
    background: linear-gradient(#f5f8cdf3, #b9f5b9);
    margin-left: 386px;
    margin-top: -130px;
}

header .pole4b1 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .pole4b1:hover,
header .pole4b1.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

header .pole4b2 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .pole4b2:hover,
header .pole4b2.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

header .pole4b3 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .pole4b3:hover,
header .pole4b3.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

header .mb5 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .mb5:hover,
header .mb5.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

.pole5 {
    width: 400px;
    position: absolute;
    background: linear-gradient(#f5f8cdf3, #b9f5b9);
    margin-left: 386px;
    margin-top: -186px;
}

header .pole5b1 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .pole5b1:hover,
header .pole5b1.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

header .pole5b2 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .pole5b2:hover,
header .pole5b2.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

header .pole5b3 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .pole5b3:hover,
header .pole5b3.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

header .pole5b4 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .pole5b4:hover,
header .pole5b4.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

header .mb6 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .mb6:hover,
header .mb6.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

.pole6 {
    width: 400px;
    position: absolute;
    background: linear-gradient(#f5f8cdf3, #b9f5b9);
    margin-left: 386px;
    margin-top: -150px;
}

header .pole6b1 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .pole6b1:hover,
header .pole6b1.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

header .pole6b2 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .pole6b2:hover,
header .pole6b2.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

header .pole6b3 {
    font-size: 50px;
}

header .pole6b3 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .pole6b3:hover,
header .pole6b3.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

header .pole6b4 {
    font-size: 50px;
    padding: 7px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
    border-style: solid;
    border-color: #dcf93784;
    transition: color, transform 500ms ease;
}

header .pole6b4:hover,
header .pole6b4.active {
    color: #eef9a4f2;
    background-color: #0c12068d;
    transform: scale(1.13);
    -webkit-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    -moz-box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
    box-shadow: -5px 10px 10px 8px rgba(34, 60, 80, 0.26);
}

header .st1 {
    width: 1400px;
    height: 1008px;
    position: absolute;
    background: linear-gradient(#f5f8cdf3, #ffffff);
    font-size: 50px;
    margin-left: -412px;
    margin-top: -100px;
}

header .st1zgl {
    font-size: 62px;
    margin-top: 10px;
    margin-left: 500px;
    position: absolute;
    background: radial-gradient(#162416, #edf779f3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .btnst1-close {
    border: none;
    padding: 8px 12px;
    font-size: 60px;
    border-radius: 5%;
    margin: auto;
    background: linear-gradient(#eaf27df3, #ffffff);
    color: #000000;
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
    margin-right: 70px;
    margin-top: 10px;
    display: block;
    text-align: right;
    cursor: pointer;

}

header .contentst1 {
    width: 100%;
    max-width: 1300px;
    position: absolute;
    z-index: 10;
    background: linear-gradient(#fffffff3, #ebf7e7);
    padding: 35px;
    border-radius: 12px;
    margin-left: 15px;
    text-align: center;

}

header .st2 {
    width: 1400px;
    height: 1008px;
    position: absolute;
    background: linear-gradient(#f5f8cdf3, #ffffff);
    font-size: 50px;
    margin-left: -412px;
    margin-top: -190px;
}

header .st2zgl {
    font-size: 62px;
    margin-top: 10px;
    margin-left: 500px;
    position: absolute;
    background: radial-gradient(#162416, #edf779f3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .btnst2-close {
    border: none;
    padding: 8px 12px;
    font-size: 60px;
    border-radius: 5%;
    margin: auto;
    background: linear-gradient(#eaf27df3, #ffffff);
    color: #000000;
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
    margin-right: 70px;
    margin-top: 10px;
    display: block;
    text-align: right;
    cursor: pointer;

}

header .contentst2 {
    width: 100%;
    max-width: 1300px;
    position: absolute;
    z-index: 10;
    background: linear-gradient(#fffffff3, #ebf7e7);
    padding: 35px;
    border-radius: 12px;
    margin-left: 15px;
    text-align: center;

}

header .st3 {
    width: 1400px;
    height: 1008px;
    position: absolute;
    background: linear-gradient(#f5f8cdf3, #ffffff);
    font-size: 50px;
    margin-left: -412px;
    margin-top: -290px;
}

header .st3zgl {
    font-size: 62px;
    margin-top: 10px;
    margin-left: 500px;
    position: absolute;
    background: radial-gradient(#162416, #edf779f3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .btnst3-close {
    border: none;
    padding: 8px 12px;
    font-size: 60px;
    border-radius: 5%;
    margin: auto;
    background: linear-gradient(#eaf27df3, #ffffff);
    color: #000000;
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
    margin-right: 70px;
    margin-top: 10px;
    display: block;
    text-align: right;
    cursor: pointer;

}

header .contentst3 {
    width: 100%;
    max-width: 1300px;
    position: absolute;
    z-index: 10;
    background: linear-gradient(#fffffff3, #ebf7e7);
    padding: 35px;
    border-radius: 12px;
    margin-left: 15px;
    text-align: center;

}

header .st4 {
    width: 1400px;
    height: 1008px;
    position: absolute;
    background: linear-gradient(#f5f8cdf3, #ffffff);
    font-size: 50px;
    margin-left: -412px;
    margin-top: -380px;
}

header .st4zgl {
    font-size: 62px;
    margin-top: 10px;
    margin-left: 100px;
    position: absolute;
    background: radial-gradient(#162416, #edf779f3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .btnst4-close {
    border: none;
    padding: 8px 12px;
    font-size: 60px;
    border-radius: 5%;
    margin: auto;
    background: linear-gradient(#eaf27df3, #ffffff);
    color: #000000;
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
    margin-right: 70px;
    margin-top: 10px;
    display: block;
    text-align: right;
    cursor: pointer;

}

header .contentst4 {
    width: 100%;
    max-width: 1300px;
    position: absolute;
    z-index: 10;
    background: linear-gradient(#fffffff3, #ebf7e7);
    padding: 35px;
    border-radius: 12px;
    margin-left: 15px;
    text-align: center;

}

header .st5 {
    width: 1400px;
    height: 1008px;
    position: absolute;
    background: linear-gradient(#f5f8cdf3, #ffffff);
    font-size: 50px;
    margin-left: -412px;
    margin-top: -200px;
}

header .st5zgl {
    font-size: 62px;
    margin-top: 10px;
    margin-left: 100px;
    position: absolute;
    background: radial-gradient(#162416, #edf779f3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .btnst5-close {
    border: none;
    padding: 8px 12px;
    font-size: 60px;
    border-radius: 5%;
    margin: auto;
    background: linear-gradient(#eaf27df3, #ffffff);
    color: #000000;
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
    margin-right: 70px;
    margin-top: 10px;
    display: block;
    text-align: right;
    cursor: pointer;

}

header .contentst5 {
    width: 100%;
    max-width: 1300px;
    position: absolute;
    z-index: 10;
    background: linear-gradient(#fffffff3, #ebf7e7);
    padding: 35px;
    border-radius: 12px;
    margin-left: 15px;
    text-align: center;

}

header .st6 {
    width: 1400px;
    height: 1008px;
    position: absolute;
    background: linear-gradient(#f5f8cdf3, #ffffff);
    font-size: 50px;
    margin-left: -412px;
    margin-top: -292px;
}

header .st6zgl {
    font-size: 62px;
    margin-top: 10px;
    margin-left: 100px;
    position: absolute;
    background: radial-gradient(#162416, #edf779f3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .btnst6-close {
    border: none;
    padding: 8px 12px;
    font-size: 60px;
    border-radius: 5%;
    margin: auto;
    background: linear-gradient(#eaf27df3, #ffffff);
    color: #000000;
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
    margin-right: 70px;
    margin-top: 10px;
    display: block;
    text-align: right;
    cursor: pointer;

}

header .contentst6 {
    width: 100%;
    max-width: 1300px;
    position: absolute;
    z-index: 10;
    background: linear-gradient(#fffffff3, #ebf7e7);
    padding: 35px;
    border-radius: 12px;
    margin-left: 15px;
    text-align: center;

}

header .st7 {
    width: 1400px;
    height: 1008px;
    position: absolute;
    background: linear-gradient(#f5f8cdf3, #ffffff);
    font-size: 50px;
    margin-left: -412px;
    margin-top: -384px;
}

header .st7zgl {
    font-size: 62px;
    margin-top: 10px;
    margin-left: 100px;
    position: absolute;
    background: radial-gradient(#162416, #edf779f3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .btnst7-close {
    border: none;
    padding: 8px 12px;
    font-size: 60px;
    border-radius: 5%;
    margin: auto;
    background: linear-gradient(#eaf27df3, #ffffff);
    color: #000000;
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
    margin-right: 70px;
    margin-top: 10px;
    display: block;
    text-align: right;
    cursor: pointer;

}

header .contentst7 {
    width: 100%;
    max-width: 1300px;
    position: absolute;
    z-index: 10;
    background: linear-gradient(#fffffff3, #ebf7e7);
    padding: 35px;
    border-radius: 12px;
    margin-left: 15px;
    text-align: center;

}

header .st8 {
    width: 1400px;
    height: 1008px;
    position: absolute;
    background: linear-gradient(#f5f8cd, #ffffff);
    font-size: 50px;
    margin-left: -412px;
    margin-top: -476px;
}

header .st8zgl {
    font-size: 62px;
    margin-top: 10px;
    margin-left: 100px;
    position: absolute;
    background: radial-gradient(#162416, #edf779f3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .btnst8-close {
    border: none;
    padding: 8px 12px;
    font-size: 60px;
    border-radius: 5%;
    margin: auto;
    background: linear-gradient(#eaf27df3, #ffffff);
    color: #000000;
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
    margin-right: 70px;
    margin-top: 10px;
    display: block;
    text-align: right;
    cursor: pointer;

}

header .contentst8 {
    width: 100%;
    max-width: 1300px;
    position: absolute;
    z-index: 10;
    background: linear-gradient(#fffffff3, #ebf7e7);
    padding: 35px;
    border-radius: 12px;
    margin-left: 15px;
    text-align: center;

}

header .st9 {
    width: 1400px;
    height: 1008px;
    position: absolute;
    background: linear-gradient(#fcfedf, #ffffff);
    font-size: 50px;
    margin-left: -412px;
    margin-top: -292px;
}

header .st9zgl {
    font-size: 62px;
    margin-top: 10px;
    margin-left: 100px;
    position: absolute;
    background: radial-gradient(#162416, #edf779f3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .btnst9-close {
    border: none;
    padding: 8px 12px;
    font-size: 60px;
    border-radius: 5%;
    margin: auto;
    background: linear-gradient(#eaf27df3, #ffffff);
    color: #000000;
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
    margin-right: 70px;
    margin-top: 10px;
    display: block;
    text-align: right;
    cursor: pointer;

}

header .contentst9 {
    width: 100%;
    max-width: 1300px;
    position: absolute;
    z-index: 10;
    background: linear-gradient(#fffffff3, #ebf7e7);
    padding: 35px;
    border-radius: 12px;
    margin-left: 15px;
    text-align: center;

}

header .st10 {
    width: 1400px;
    height: 1008px;
    position: absolute;
    background: linear-gradient(#fcfedf, #ffffff);
    font-size: 50px;
    margin-left: -412px;
    margin-top: -386px;
}

header .st10zgl {
    font-size: 62px;
    margin-top: 10px;
    margin-left: 100px;
    position: absolute;
    background: radial-gradient(#162416, #edf779f3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .btnst10-close {
    border: none;
    padding: 8px 12px;
    font-size: 60px;
    border-radius: 5%;
    margin: auto;
    background: linear-gradient(#eaf27df3, #ffffff);
    color: #000000;
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
    margin-right: 70px;
    margin-top: 10px;
    display: block;
    text-align: right;
    cursor: pointer;

}

header .contentst10 {
    width: 100%;
    max-width: 1300px;
    position: absolute;
    z-index: 10;
    background: linear-gradient(#fffffff3, #ebf7e7);
    padding: 35px;
    border-radius: 12px;
    margin-left: 15px;
    text-align: center;
}

header .st11 {
    width: 1400px;
    height: 1008px;
    position: absolute;
    background: linear-gradient(#fcfedf, #ffffff);
    font-size: 50px;
    margin-left: -412px;
    margin-top: -476px;
}

header .st11zgl {
    font-size: 62px;
    margin-top: 10px;
    margin-left: 100px;
    position: absolute;
    background: radial-gradient(#162416, #edf779f3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .btnst11-close {
    border: none;
    padding: 8px 12px;
    font-size: 60px;
    border-radius: 5%;
    margin: auto;
    background: linear-gradient(#eaf27df3, #ffffff);
    color: #000000;
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
    margin-right: 70px;
    margin-top: 10px;
    display: block;
    text-align: right;
    cursor: pointer;

}

header .contentst11 {
    width: 100%;
    max-width: 1300px;
    position: absolute;
    z-index: 10;
    background: linear-gradient(#fffffff3, #ebf7e7);
    padding: 35px;
    border-radius: 12px;
    margin-left: 15px;
    text-align: center;
}

header .st12 {
    width: 1400px;
    height: 1008px;
    position: absolute;
    background: linear-gradient(#fcfedf, #ffffff);
    font-size: 50px;
    margin-left: -412px;
    margin-top: -568px;
}

header .st12zgl {
    font-size: 62px;
    margin-top: 10px;
    margin-left: 100px;
    position: absolute;
    background: radial-gradient(#162416, #edf779f3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .btnst12-close {
    border: none;
    padding: 8px 12px;
    font-size: 60px;
    border-radius: 5%;
    margin: auto;
    background: linear-gradient(#eaf27df3, #ffffff);
    color: #000000;
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
    margin-right: 70px;
    margin-top: 10px;
    display: block;
    text-align: right;
    cursor: pointer;

}

header .contentst12 {
    width: 100%;
    max-width: 1300px;
    position: absolute;
    z-index: 10;
    background: linear-gradient(#fffffff3, #ebf7e7);
    padding: 35px;
    border-radius: 12px;
    margin-left: 15px;
    text-align: center;
}

header .st13 {
    width: 1400px;
    height: 1008px;
    position: absolute;
    background: linear-gradient(#fcfedf, #ffffff);
    font-size: 50px;
    margin-left: -412px;
    margin-top: -384px;
}

header .st13zgl {
    font-size: 62px;
    margin-top: 10px;
    margin-left: 100px;
    position: absolute;
    background: radial-gradient(#162416, #edf779f3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .btnst13-close {
    border: none;
    padding: 8px 12px;
    font-size: 60px;
    border-radius: 5%;
    margin: auto;
    background: linear-gradient(#eaf27df3, #ffffff);
    color: #000000;
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
    margin-right: 70px;
    margin-top: 10px;
    display: block;
    text-align: right;
    cursor: pointer;

}

header .contentst13 {
    width: 100%;
    max-width: 1300px;
    position: absolute;
    z-index: 10;
    background: linear-gradient(#fffffff3, #ebf7e7);
    padding: 35px;
    border-radius: 12px;
    margin-left: 15px;
    text-align: center;
}

header .st14 {
    width: 1400px;
    height: 1008px;
    position: absolute;
    background: linear-gradient(#fcfedf, #ffffff);
    font-size: 50px;
    margin-left: -412px;
    margin-top: -476px;
}

header .st14zgl {
    font-size: 62px;
    margin-top: 10px;
    margin-left: 100px;
    position: absolute;
    background: radial-gradient(#162416, #edf779f3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .btnst14-close {
    border: none;
    padding: 8px 12px;
    font-size: 60px;
    border-radius: 5%;
    margin: auto;
    background: linear-gradient(#eaf27df3, #ffffff);
    color: #000000;
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
    margin-right: 70px;
    margin-top: 10px;
    display: block;
    text-align: right;
    cursor: pointer;

}

header .contentst14 {
    width: 100%;
    max-width: 1300px;
    position: absolute;
    z-index: 10;
    background: linear-gradient(#fffffff3, #ebf7e7);
    padding: 35px;
    border-radius: 12px;
    margin-left: 15px;
    text-align: center;
}

header .st15 {
    width: 1400px;
    height: 1008px;
    position: absolute;
    background: linear-gradient(#fcfedf, #ffffff);
    font-size: 50px;
    margin-left: -412px;
    margin-top: -568px;
}

header .st15zgl {
    font-size: 62px;
    margin-top: 10px;
    margin-left: 100px;
    position: absolute;
    background: radial-gradient(#162416, #edf779f3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .btnst15-close {
    border: none;
    padding: 8px 12px;
    font-size: 60px;
    border-radius: 5%;
    margin: auto;
    background: linear-gradient(#eaf27df3, #ffffff);
    color: #000000;
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
    margin-right: 70px;
    margin-top: 10px;
    display: block;
    text-align: right;
    cursor: pointer;

}

header .contentst15 {
    width: 100%;
    max-width: 1300px;
    position: absolute;
    z-index: 10;
    background: linear-gradient(#fffffff3, #ebf7e7);
    padding: 35px;
    border-radius: 12px;
    margin-left: 15px;
    text-align: center;
}

header .st16 {
    width: 1400px;
    height: 1008px;
    position: absolute;
    background: linear-gradient(#f2f8ea, #ffffff);
    font-size: 50px;
    margin-left: -412px;
    margin-top: -420px;
}

header .st16zgl {
    font-size: 62px;
    margin-top: 10px;
    margin-left: 100px;
    position: absolute;
    background: radial-gradient(#162416, #edf779f3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .btnst16-close {
    border: none;
    padding: 8px 12px;
    font-size: 60px;
    border-radius: 5%;
    margin: auto;
    background: linear-gradient(#eaf27df3, #ffffff);
    color: #000000;
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
    margin-right: 70px;
    margin-top: 10px;
    display: block;
    text-align: right;
    cursor: pointer;

}

header .contentst16 {
    width: 100%;
    max-width: 1300px;
    position: absolute;
    z-index: 10;
    background: linear-gradient(#fffffff3, #ebf7e7);
    padding: 35px;
    border-radius: 12px;
    margin-left: 15px;
    text-align: center;
}

header .st17 {
    width: 1400px;
    height: 1008px;
    position: absolute;
    background: linear-gradient(#f2f8ea, #ffffff);
    font-size: 50px;
    margin-left: -412px;
    margin-top: -512px;
}

header .st17zgl {
    font-size: 62px;
    margin-top: 10px;
    margin-left: 100px;
    position: absolute;
    background: radial-gradient(#162416, #edf779f3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .btnst17-close {
    border: none;
    padding: 8px 12px;
    font-size: 60px;
    border-radius: 5%;
    margin: auto;
    background: linear-gradient(#eaf27df3, #ffffff);
    color: #000000;
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
    margin-right: 70px;
    margin-top: 10px;
    display: block;
    text-align: right;
    cursor: pointer;

}

header .contentst17 {
    width: 100%;
    max-width: 1300px;
    position: absolute;
    z-index: 10;
    background: linear-gradient(#fffffff3, #ebf7e7);
    padding: 35px;
    border-radius: 12px;
    margin-left: 15px;
    text-align: center;
}

header .st18 {
    width: 1400px;
    height: 1008px;
    position: absolute;
    background: linear-gradient(#f2f8ea, #ffffff);
    font-size: 50px;
    margin-left: -412px;
    margin-top: -604px;
}

header .st18zgl {
    font-size: 62px;
    margin-top: 10px;
    margin-left: 100px;
    position: absolute;
    background: radial-gradient(#162416, #edf779f3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .btnst18-close {
    border: none;
    padding: 8px 12px;
    font-size: 60px;
    border-radius: 5%;
    margin: auto;
    background: linear-gradient(#eaf27df3, #ffffff);
    color: #000000;
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
    margin-right: 70px;
    margin-top: 10px;
    display: block;
    text-align: right;
    cursor: pointer;

}

header .contentst18 {
    width: 100%;
    max-width: 1300px;
    position: absolute;
    z-index: 10;
    background: linear-gradient(#fffffff3, #ebf7e7);
    padding: 35px;
    border-radius: 12px;
    margin-left: 15px;
    text-align: center;
}

header .st19 {
    width: 1400px;
    height: 1008px;
    position: absolute;
    background: linear-gradient(#f2f8ea, #ffffff);
    font-size: 50px;
    margin-left: -412px;
    margin-top: -696px;
}

header .st19zgl {
    font-size: 62px;
    margin-top: 10px;
    margin-left: 100px;
    position: absolute;
    background: radial-gradient(#162416, #edf779f3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .btnst19-close {
    border: none;
    padding: 8px 12px;
    font-size: 60px;
    border-radius: 5%;
    margin: auto;
    background: linear-gradient(#eaf27df3, #ffffff);
    color: #000000;
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
    margin-right: 70px;
    margin-top: 10px;
    display: block;
    text-align: right;
    cursor: pointer;

}

header .contentst19 {
    width: 100%;
    max-width: 1300px;
    position: absolute;
    z-index: 10;
    background: linear-gradient(#fffffff3, #ebf7e7);
    padding: 35px;
    border-radius: 12px;
    margin-left: 15px;
    text-align: center;
}

header .st20 {
    width: 1400px;
    height: 1008px;
    position: absolute;
    background: linear-gradient(#f2f8ea, #ffffff);
    font-size: 50px;
    margin-left: -412px;
    margin-top: -548px;
}

header .st20zgl {
    font-size: 62px;
    margin-top: 10px;
    margin-left: 100px;
    position: absolute;
    background: radial-gradient(#162416, #edf779f3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .btnst20-close {
    border: none;
    padding: 8px 12px;
    font-size: 60px;
    border-radius: 5%;
    margin: auto;
    background: linear-gradient(#eaf27df3, #ffffff);
    color: #000000;
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
    margin-right: 70px;
    margin-top: 10px;
    display: block;
    text-align: right;
    cursor: pointer;

}

header .contentst20 {
    width: 100%;
    max-width: 1300px;
    position: absolute;
    z-index: 10;
    background: linear-gradient(#fffffff3, #ebf7e7);
    padding: 35px;
    border-radius: 12px;
    margin-left: 15px;
    text-align: center;
}

header .st21 {
    width: 1400px;
    height: 1008px;
    position: absolute;
    background: linear-gradient(#f2f8ea, #ffffff);
    font-size: 50px;
    margin-left: -412px;
    margin-top: -640px;
}

header .st21zgl {
    font-size: 62px;
    margin-top: 10px;
    margin-left: 100px;
    position: absolute;
    background: radial-gradient(#162416, #edf779f3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .btnst21-close {
    border: none;
    padding: 8px 12px;
    font-size: 60px;
    border-radius: 5%;
    margin: auto;
    background: linear-gradient(#eaf27df3, #ffffff);
    color: #000000;
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
    margin-right: 70px;
    margin-top: 10px;
    display: block;
    text-align: right;
    cursor: pointer;

}

header .contentst21 {
    width: 100%;
    max-width: 1300px;
    position: absolute;
    z-index: 10;
    background: linear-gradient(#fffffff3, #ebf7e7);
    padding: 35px;
    border-radius: 12px;
    margin-left: 15px;
    text-align: center;
}


header .st22 {
    width: 1400px;
    height: 1008px;
    position: absolute;
    background: linear-gradient(#f2f8ea, #ffffff);
    font-size: 50px;
    margin-left: -412px;
    margin-top: -732px;
}

header .st22zgl {
    font-size: 62px;
    margin-top: 10px;
    margin-left: 100px;
    position: absolute;
    background: radial-gradient(#162416, #edf779f3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .btnst22-close {
    border: none;
    padding: 8px 12px;
    font-size: 60px;
    border-radius: 5%;
    margin: auto;
    background: linear-gradient(#eaf27df3, #ffffff);
    color: #000000;
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
    margin-right: 70px;
    margin-top: 10px;
    display: block;
    text-align: right;
    cursor: pointer;

}

header .contentst22 {
    width: 100%;
    max-width: 1300px;
    position: absolute;
    z-index: 10;
    background: linear-gradient(#fffffff3, #ebf7e7);
    padding: 35px;
    border-radius: 12px;
    margin-left: 15px;
    text-align: center;
}

header .st23 {
    width: 1400px;
    height: 1008px;
    position: absolute;
    background: linear-gradient(#f2f8ea, #ffffff);
    font-size: 50px;
    margin-left: -412px;
    margin-top: -824px;
}

header .st23zgl {
    font-size: 62px;
    margin-top: 10px;
    margin-left: 100px;
    position: absolute;
    background: radial-gradient(#162416, #edf779f3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .btnst23-close {
    border: none;
    padding: 8px 12px;
    font-size: 60px;
    border-radius: 5%;
    margin: auto;
    background: linear-gradient(#eaf27df3, #ffffff);
    color: #000000;
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
    margin-right: 70px;
    margin-top: 10px;
    display: block;
    text-align: right;
    cursor: pointer;

}

header .contentst23 {
    width: 100%;
    max-width: 1300px;
    position: absolute;
    z-index: 10;
    background: linear-gradient(#fffffff3, #ebf7e7);
    padding: 35px;
    border-radius: 12px;
    margin-left: 15px;
    text-align: center;
}