.snimok-container {
    height: 892px;
    width: 1340px;
    margin-top: 40px;
    margin-left: 40px;

    display: flex;
    align-items: center;

}

.win-snimok {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.all-snimok-container {
    height: 100%;
    display: flex;

    transition: translate;
    transition-property: transform;
    transition-duration: 700ms;
    transition-timing-function: ease-in-out;
}

.snarrow {
    cursor: pointer;
    font-size: 80px;

}