.main-container {

    margin-top: 140px;
    height: 2598px;
    width: 1200px;

    display: flex;
    align-items: center;
}

.window {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.all-pages-container {
    height: 100%;
    display: flex;

    transition: translate;
    transition-property: transform;
    transition-duration: 530ms;
    transition-timing-function: ease-in-out;
    align-items: center;
}

.arrow {
    cursor: pointer;
    font-size: 40px;
}