.main-container {
    margin-top: 140px;
    margin-left: 40px;
    height: 1600px;
    width: 1325px;
    display: flex;
    align-items: center;
}

.window {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.all-pages-container {
    height: 100%;
    display: flex;
    transition: translate;
    transition-property: transform;
    transition-duration: 530ms;
    transition-timing-function: ease-in-out;
    align-items: center;
}

.arrow {
    cursor: pointer;
    font-size: 80px;
    color: rgba(6, 70, 20, 0.772);
}