@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap');


* {
    margin: 0;
    padding: 0;
}



body {
    background: #f3fad486;
    color: #000000;
    font-family: "IM Fell DW Pica SC", serif;
    font-weight: 400;
}

.osnova {
    width: 1400px;
    margin: 40px auto;
}

header .foto {
    font-weight: 700;
    font-size: 60px;
    margin-left: 560px;
}

header .fon {
    margin: 10px 0;
    background: url('./img/fonNeva.jpg') no-repeat;
    width: 100%;
    height: 644px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: rgba(226, 251, 219, 0.925);
}

header .fon::after {
    content: 'a modern look at eternal things';
    position: absolute;
    top: 170px;
    width: 1300px;
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    position: absolute;
    background: radial-gradient(#edf779f3, #162416);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.romch {
    font-size: 62px;
    margin-left: 300px;
    margin-top: 20px;
    text-align: center;
    position: absolute;
    background: radial-gradient(#162416, #edf779f3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.item {
    display: flax;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.item-1 {
    background: url('./carousel/imgCarousel/zaliv.jpg');
    width: 1200px;
    height: 2598px;
}

.item-2 {
    background: url('./carousel/imgCarousel/paht.jpg');
    width: 1200px;
    height: 2598px;
}

.item-3 {
    background: url('./carousel/imgCarousel/krest.jpg');
    width: 1200px;
    height: 2598px;
}

.item-4 {
    background: url('./carousel/imgCarousel/Kazansky.jpg') no-repeat;
    width: 1200px;
    height: 2598px;
}

.item-5 {
    background: url('./carousel/imgCarousel/Konstantin.jpg') no-repeat;
    width: 1200px;
    height: 2598px;

}

.item-6 {
    background: url('./carousel/imgCarousel/sochi.jpg') no-repeat;
    width: 1200px;
    height: 2598px;
}

.item-7 {
    background: url('./carousel/imgCarousel/Lodki.jpg') no-repeat;
    width: 1200px;
    height: 2598px;
}

.item-8 {
    background: url('./carousel/imgCarousel/zapisi.jpg') no-repeat;
    width: 1200px;
    height: 2598px;
}

.item-9 {
    background: url('./carousel/imgCarousel/ptennec.jpg') no-repeat;
    width: 1200px;
    height: 2598px;
}

.item-10 {
    background: url('./carousel/imgCarousel/Spas.jpg') no-repeat;
    width: 1200px;
    height: 1700px;
}



.cadr {
    display: flax;
    align-items: center;
    justify-content: center;
    user-select: none;


}

.cadr-1 {
    background: url('./cadr/imgCadr/demon.jpg');
}

.cadr-2 {
    background: url('./cadr/imgCadr/dvor.jpg');
}

.cadr-3 {
    background: url('./cadr/imgCadr/gora.jpg');
}

.cadr-4 {
    background: url('./cadr/imgCadr/pa.jpg');
}

.cadr-5 {
    background: url('./cadr/imgCadr/potok.jpg');
}

.cadr-6 {
    background: url('./cadr/imgCadr/ptica.jpg');
}

.cadr-7 {
    background: url('./cadr/imgCadr/rabota.jpg');
}

.cadr-8 {
    background: url('./cadr/imgCadr/rszo.jpg');
}

.cadr-9 {
    background: url('./cadr/imgCadr/swarog.jpg');
}

.cadr-10 {
    background: url('./cadr/imgCadr/vod.jpg');
}

.shoom {
    font-size: 62px;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    background: radial-gradient(#2f752f, #e6f81af3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.kroks {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.krok_1 {
    background: radial-gradient(#16678af3, #874c09, #ecb5b5, #555);
}

.krok_2 {
    background: linear-gradient(#b5c506f3, #d8e828, #ceec38f1, #e5f06a, #f0ee5e90);
}

.krok_3 {
    background: radial-gradient(#dee58bf3, #62be62, #d29128, #07340a, #8da33d, #aa530c);
}

.krok_4 {
    background: radial-gradient(#b1e2f7f3, #d7f804b6, #ec75d76b, #f3ebeb, #772, #137613);
}

.krok_5 {
    background: linear-gradient(#23f42356, #69ed7bda, #6bd27cf1, #73ce79, #5cb96af4, #3c9a50e1, #2a8b38, #186023f1, #133203, #010b03df);
}

.krok_6 {
    background: radial-gradient(#ddf107f3, #71183f, #39d10f, #83e28a, #1d210d, #abe343);
}

.krok_7 {
    background: radial-gradient(#000000f3, #d6e679, #64e054c6, #7da9be, #bad8e5f3, #41856b, #79d455, #f17d7ddd);
}

.krok_8 {
    background: linear-gradient(#b30000d3, #e80e0ee7, #0509ede2, #0509edd3, #ffffffe4, #fff);
}

.krok_9 {
    background: radial-gradient(#f0e8f0f3, #b498b7, #c594cf, #ce96ec, #73427d, #9f5bed, #9647dff3, #4e2b6dcc, #4d1658, #6c0f5c, #36063a, #d2b6f3);
}





footer {
    font-size: 44px;
    margin: 44px;
    margin-top: 100px;
    padding: 30px;
}

footer .App-link {
    color: #0b6714c7;
    font-size: 46px;
}